{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "DBSettings": {
    "ConnectionString": "mongodb+srv://YOUR_USERNAME:YOUR_PASSWORD@cluster0.jpi1z5m.mongodb.net/?appName=Cluster0",
    "DatabaseName": "PokemonDB"
  }
}

